@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");


body {
    font-family: 'Press Start 2P', cursive;
}

#header{
    background-image: url("images/pokemon_background.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    color: rgb(251, 235, 13);
    text-shadow:
        -5px -5px 0 rgb(34, 74, 216),
         5px -5px 0 rgb(34, 74, 216),
        -5px  5px 0 rgb(34, 74, 216),
         5px  5px 0 rgb(34, 74, 216);
    font-size: 36px;
    padding: 10px;
    border-bottom: 2px solid black;
}

#top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    border-bottom: 2px solid black;
}

#top-navigation a {
    color: black;
    margin: 0 8px;
    font-size: 14px;
}

#title {
    flex-grow: 1;
    text-align: center;
    font-size: 24px;
}

#layout {
    display: grid;
    grid-template-columns: 250px 1fr;
}

#navigation {
    border-right: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#navigation a {
    text-align: center;
    display: block;
    padding-top: 50px;
    color: black;
    font-size: 14px;
}

#content {
    font-family: 'Montserrat', sans-serif;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

#inner_content {
    grid-column: 2;
    text-align: center;
    max-width: 100%;
}

#content img {
    width: 100%;
}

@media (max-width: 768px) {
    #content {
        grid-template-columns: 1fr 4fr 1fr;
    }
}

/* --- Plushies --- */

#shopping_cart {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; 
}

#products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    flex: 3 1 auto;
    margin: 15px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.product img {
    width: 100%;
    max-width: 150px;
    height: auto;
}

#customer_info {
    flex: 1 1 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px; 
    margin: 15px;
}

@media (max-width: 1096px) {
    #shopping_cart {
        flex-direction: column; 
    }
    #products {
        grid-template-columns: 1fr;
    }
}